<h2>{{title}}</h2>

<div>
<label>Name:</label> <input #itemName />
<label>Description:</label><input #itemDescription />
<label>Position:</label><input #itemOrder />
<button (click)="add(itemName.value, itemDescription.value, itemOrder.value, false); itemName.value=''; itemDescription.value=''; itemOrder.value='';">Add</button>

<ul class="items">
    <li *ngFor="let item of shoppingList"
      [class.selected]="item === selectedItem"
      (click)="onSelect(item)">
      <span class="badge">{{item.id}}</span> {{item.name}}
      <button class="delete" (click)="delete(item); $event.stopPropagation()">x</button>
    </li>
</ul>

<div *ngIf="selectedItem">
    <h2>
        {{selectedItem.name}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

